.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid grey;
}
.logo-text{
    font-size:35px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 10px;
    color:rgb(142, 157, 157)

}
.logo-container{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 60px;
    margin-top:  12px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.nav-items >ul{
    font-size: 18px;
    display: flex;
    padding: 3px 0px;
}
.nav-items >ul >li{
    list-style: none;
    margin: 10px;
    padding: 10px;
}
.search{
    padding: 10px;
}
.res-card{
    width: 230px;
    height: 350px;
    border: 1px solid grey;
    margin: 15px;
}
.res-card img{
    width: 220px;
    height: 170px;
    padding: 5px;
}
.res-card h3{
    padding: 0px;
    margin: 15px;
    margin-top: 0px;

}
.res-card:hover{
    border: 2px solid goldenrod;
    cursor: pointer;
}
.res-card h4{
    padding: 0px;
    margin:15px;
}
.res-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
}
.filter-btn{
    margin : 10px;
    cursor: pointer;
}
.shimmer-cards{
    width: 230px;
    height: 350px;
    border: 1px solid grey;
    margin: 15px;
    background-color: gray;
}
.shimmer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
}
.login-btn{
    margin: 10px;
    padding: 10px;
    background-color: rgb(113, 116, 111);
    border: none;
    cursor: pointer;
    border-radius: 20%;
}
.filter {
    display: flex;
}